<link rel="stylesheet" href="css/profile.css">
<!-- This calls the background-image. -->
<div class="container" id="startUp3.jpg"></div>
  <div class="row">
    <div class="col-md-6">
      <div class="box">
        <img src="/images/startUpLogo3.png" alt="startup" height="50" width="50" />
          <h1> Profile </h1>
      </div>
    </div>
    <div class="col-md-6">
      <div class="box">
        <img src="{{ businessLogo }}" alt="startup" height="100" width="100"/>
      </div>
          <h2> {{ businessAddress }} </h2>
    </div>
  </div>
