<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="/images/startUpLogo3.png" alt="startup" height="50" width="50" />
    </div>

      <h2>Profile</h2>

    <div class="col-md-6">
        <img src="/images/cclogo.png" alt=height="100" width="100"/>
    </div>
      <h3>1309 4th St SW
        Albuquerque, NM 87102  </h3>

  </div>
