<link rel="stylesheet" href="css/profile.css">

<!-- This calls the background-image. -->
<div class="container" id="startUp3.jpg"></div>

<header> Profile </header>
<hr>

<div class="box">
  <div class="row">
    <div class="col-md-6">
      <img src="/images/startUpLogo3.png" alt="startup" height="50" width="50" />
    </div>
  </div>


  <div class="box">
    <div class="row">
    <div class="col-md-6">
        <img src="{{ businessLogo }}" alt="startup" height="100" width="100"/>
    </div>
      <h2> {{ businessAddress }} </h2>
  </div>
