<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ABQ Start-Up Hub-References</title>
    <script src="http://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
      <script src="http://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
          integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
          crossorigin="anonymous"></script>
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1"
        crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css"/>
      <link rel="stylesheet" href="css/animate.css"/>
  </head>
  <body>
<a href=id="font-color"></a>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          BANKS AND OTHER FINANCIAL SUPPORTERS
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapsing" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <p><a href="http://www.accionnm.org/">accionnm.org</a> 1-800-508-7624</p>
        <p><a href="https://www.mycenturybank.com">mycenturybank.com</a> (505) 995-1200</p>
        <p><a href="http://www.elcdc.com/">elcde.com</a> (505) 843-9232</p>
        <p><a href="http://www.loanfund.org/">loanfund.org</a> (505) 243-3196</p>
        <p><a href="http://www.nmprivateinvestors.com/">NM private investors</a> (505) 843-4206.</p>
        <p><a href="http://www.nmsbdc.org/albuquerque">nmsbdc</a> (505) 224-5250</p>
        <p><a href="http://www.sba.gov/">sba.gov</a> (505) 766-1870</p>
        <p><a href="http://www.sic.state.nm.us/">sic.state.nm.us</a> (505) 476-9500</p>
        <p><a href="http://www.techventures.org/">techventures.org</a> (505) 246-2882</p>
        <p><a href="http://www.wesst.org/">wesst.org</a> (505) 246-6900</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          CRETDIT CARD SUPPORTS
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <p><a href="http://www.americanexpress.com/small-business/funding‎">Americanexpress.com</a> Provides Small Business Cards</p>
        <p><a href="http://www.creditcards.chase.com/CompareCards/FindYourCard">Chase</a> Premium rewards and benefits</p>
        <p><a href="http://www.creditcards.com">creditcards.com</a> Business Cards Available</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          DATA BASES
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <p><a href="http://www.forbes.com/sites/nicktaranto/2014/01/27/8-resources-every-new-startup-person-should-use/">8 Forbes tips</a> 8 Resources Every New Startup Person Should Use</p>
        <p><a href="http://startupstash.com/">startupstash.com</a> A curated directory of resources & tools to help you build your Startup</p>
        <p><a href="https://startupresources.io/">startupresources.io</a> Tightly curated lists of the best startup tools</p>
        <p><a href="https://steveblank.com/tools-and-blogs-for-entrepreneurs/">tools-and-blogs-for-entrepreneurs</a> Small Business Advice</p>
        <p><a href="http://dailytekk.com/2015/03/04/100-incredible-resources-for-tech-entrepreneurs-and-startups/">100 start up tips</a> 100 Incredible Resources for Tech Entrepreneurs and Startups</p>
        <p><a href="https://www.ycombinator.com/resources/">ycombinator.com</a> Startup Library</p>
        <p><a href="http://go2capital.com/">got2capital</a> Empowering Business Owners</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          OTHER RESOURCES
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        <p><a href="https://startupweekend.org/">Start-Up Weekend</a> Learn, Network, Startup</p>
        <p><a href="http://growth.supply/free/">Growth.supply/free</a> +400 Awesome Free Tools To Build Your Business</p>
        <p><a href="http://incubate.usc.edu/resources/startup-legal-assistance/1">Legal assistance</a> The right side of the law </p>
        <p><a href="http://www.nmsbdc.org/">nmsbdc.com</a> BUILDING NEW MEXICO'S ECONOMY... ONE BUSINESS AT A TIME</p>
        <p><a href="https://www.caycon.com/resources.php">www.cayon.com</a> The Entrepreneur's Library - Startup Resources</p>
        <p><a href="http://landing.directcapital.com/">directcapital</a> Finance Your Business</p>
        <p><a href="https://www.ubs.com/microsites/together/en/should-i-start-my-own-business.html">Should I start my own business</a> See how UBS can help</p>
        <p><a href="https://ezgovopps.com/home/small-business-government-contracting/">small-business-government-contracting</a> The Affordable Force</p>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  </body>
</html>
