/* This controls my background image. */
body {
  background: url("../images/startUp3.jpg") no-repeat center center;
  background-size: cover;
  background-position: 10% 10%;
  position: relative;
}


h1 {
  text-align: left;
  text-decoration: underline;
  font-size: 50px;
  font-family: 'Ubuntu';
  color: #4DE806;
}

.checklist {
  border: 2.5px solid white;
  width: 400px;
  height: 200px;
}

li {
  font-family: 'Titillium Web' !important;
  font-size: 35px !important;
  color: #4DE806 !important;
}
