/* This controls my background image. */
body {
  background: url("../images/startUp3.jpg") no-repeat center center;
  background-size: cover;
  background-position: 10% 10%;
  position: relative;
}

.logo {
  margin-left: left;
}

h1 {
  text-align: left;
  text-decoration: underline;
  font-size: 50px;
  font-family: 'Ubuntu';
  color: red;
}

.checklist {
  font-family: 'Titillium Web'
}
